/*
 * Flyefit API
 *
 * This is FLYEfit's API for access it's internal member database
 *
 * OpenAPI spec version: 0.4.0
 * Contact: api@flyefit.ie
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using IO.Swagger.Models;
using Swashbuckle.AspNetCore.SwaggerGen;

namespace IO.Swagger.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public abstract class DefaultApiController : Controller
    { 

        /// <summary>
        /// 
        /// </summary>
        /// <remarks>Returns information about a given member</remarks>
        /// <param name="memberId">Get a member by their Id</param>
        /// <response code="200">Member found</response>
        /// <response code="404">Member not found</response>
        [HttpGet]
        [Route("/api/v1/member/{memberId}")]
        [SwaggerOperation("GetMemberById")]
        [SwaggerResponse(200, type: typeof(Member))]
        public virtual IActionResult GetMemberById([FromRoute]int? memberId)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<Member>(exampleJson)
            : default(Member);
            return new ObjectResult(example);
        }
    }
}
